{% extends "Homepage.html" %}

{% block content %}

    <form action="" method="GET">
        <fieldset>
            <legend>Applicant Details</legend>
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname" required placeholder="Enter your first name">
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname" required placeholder="Enter your Last name">
            <label for="no_phone">Phone number:</label>
            <input type="text" id="no_phone" name="no_phone" required placeholder="Please enter your phone number"><br>
        </fieldset>
            <br>
        <fieldset>
            <legend>Booking Form</legend>
            <label for="book_time_date">Time to use:</label><br>
            <input type="datetime-local" id="book_time_date"required><br><br>
            <label for="space">Choose a space:</label><br>
            <select type="label" id="space" name="space" required>
                <option value="Dewan Solat (Dalam)">Dewan Solat (Dalam)</option>
                <option value="Halaman Pusat Islam">Halaman Pusat Islam</option>
                <option value="Dapur Masjid">Dapur Masjid</option>
                <option value="Tempat Sembelihan">Tempat Sembelihan</option>
                <option value="Parking Depan">Parking Depan</option>
                <option value="Parking Belakang">Parking Belakang</option>
                <option value="Dewan Solat (Luar)">Dewan Solat (Luar)</option>
            </select><br><br>
            <label for="purpose">Booking Purpose:</label><br>
            <input type="text" id="purpose" name="purpose" required><br><br>
            <input type="submit" value="Submit"> <input type="button" value="Cancel"><br>
        </fieldset>
      </form>
      
      {% endblock %}
